
{
    "parser": "@typescript-eslint/parser",
    "extends": ["strapi", "plugin:prettier/recommended"],
    "plugins": ["@typescript-eslint", "prettier"],
    "env": {
      "commonjs": true,
      "es6": true,
      "node": true,
      "browser": false
    },
    "parserOptions": {
      "ecmaVersion": "latest",
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true,
        "jsx": false
      },
      "sourceType": "module"
    },
    "globals": {
      "strapi": true
    },
    "rules": {
      "indent": ["error", 2, { "SwitchCase": 1 }],
      "linebreak-style": ["error", "unix"],
      "no-console": 0,
      "quotes": ["error", "single"],
      "semi": ["error", "always"]
    }
  }